<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css"
			rel="stylesheet"
			type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script>
		{% block title %} {% endblock %}
	</head>
	<body class="flex-col">
		<div class="navbar bg-base-100">
			<div class="flex-1">
				<a
					href="/product-list/"
					class="btn btn-ghost text-xl"
					>Product List</a
				>
				<a
					href="/add"
					class="btn btn-ghost text-xl"
					>Insert Product</a
				>
			</div>
			{% if request.COOKIES.username %}
			<span class="text-xl">{{ request.COOKIES.username }}</span>
			{% else %}
			<a
				href="/accounts/login/"
				class="btn btn-ghost text-xl"
				>Login</a
			>
			{% endif %}
		</div>

		<div>{% block content %} {% endblock %}</div>
		{% block script %}{% endblock %}
	</body>
</html>
