{% extends "base.html" %} {% load custom_filters %}{%block title%}
<title>Edit Product</title>
{% endblock %} {% block content %}

<form
	method="POST"
	class="flex flex-col items-center space-y-4">
	{% csrf_token %}
	<h1 class="text-xl font-bold">Edit Product</h1>
	<div class="flex flex-col w-full max-w-xs">
		<label
			for="seed_repDate"
			class="text-sm font-medium"
			>Seed Rep Date</label
		>
		<input
			type="date"
			name="seed_repDate"
			id="seed_repDate"
			class="input input-bordered mt-1"
			value="{{gregorian_date}}" />
	</div>
	<div class="flex flex-col w-full max-w-xs">
		<label
			for="seeds_yearWeek"
			class="text-sm font-medium"
			>Enter a Year Week:</label
		>
		<input
			type="number"
			name="seeds_yearWeek"
			id="seeds_yearWeek"
			class="input input-bordered mt-1"
			step="1"
			value="{{Seeds_YearWeek}}" />
	</div>
	<div class="flex flex-col w-full max-w-xs">
		<label
			for="seed_variety"
			class="text-sm font-medium"
			>Enter a Variety:</label
		>
		<input
			type="text"
			name="seed_varity"
			id="seed_varity"
			class="input input-bordered mt-1"
			value="{{Seed_Varity}}" />
	</div>
	<div class="flex flex-col w-full max-w-xs">
		<label
			for="seed_RDCSD"
			class="text-sm font-medium"
			>Enter a RDCSD:</label
		>
		<input
			type="text"
			name="seed_RDCSD"
			id="seed_RDCSD"
			class="input input-bordered mt-1"
			value="{{Seed_RDCSD}}" />
	</div>
	<div class="flex flex-col w-full max-w-xs">
		<label
			for="seed_stock2Sale"
			class="text-sm font-medium"
			>Enter Stock To Sale:</label
		>
		<input
			type="text"
			name="seed_stock2Sale"
			id="seed_stock2Sale"
			class="input input-bordered mt-1"
			value="{{Seed_Stock2Sale}}" />
	</div>
	<div class="flex flex-col w-full max-w-xs">
		<label
			for="seed_season"
			class="text-sm font-medium"
			>Enter a Season:</label
		>
		<input
			type="number"
			name="seed_season"
			id="seed_season"
			class="input input-bordered mt-1"
			value="{{Seed_Season}}" />
	</div>
	<div class="flex flex-col w-full max-w-xs">
		<label
			for="seed_crop_year"
			class="text-sm font-medium"
			>Enter a Crop Year:</label
		>
		<input
			type="text"
			name="seed_crop_year"
			id="seed_crop_year"
			class="input input-bordered mt-1"
			value="{{Seed_Crop_Year}}" />
	</div>
	<button
		type="submit"
		class="btn btn-primary w-full max-w-xs">
		Submit
	</button>
</form>

{% endblock %}
