<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Product List</title>
	</head>
	<body>
		<a href="/get-all-product/">Product List</a>

		<h1>Find Product</h1>
		<form method="POST">
			{% csrf_token %} {{ form.as_p }}
			<div style="color: red">
				<label for="last_name">Find Name:</label>
				<input
					type="text"
					id="last_name"
					name="last_name" /><br />
				<input
					type="submit"
					value="Submit" />
			</div>
		</form>
	</body>
</html>
