{% extends "base.html" %} {% load custom_filters %} {% block title %}
<title>Login</title>
{% endblock %} {% block content %}
<form
	id="loginForm"
	method="POST"
	action="{% url 'login' %}"
	class="max-w-md mx-auto my-8 p-8 rounded-lg shadow-md">
	{% csrf_token %}
	<h1 class="text-2xl font-bold mb-4 primary-content">Login</h1>
	<div class="mb-4">
		<label
			for="username"
			class="block text-sm font-medium text-gray-700"
			>Username:</label
		>
		<input
			id="username"
			name="username"
			type="text"
			class="input input-bordered w-full mt-1" />
	</div>
	<div class="mb-4">
		<label
			for="password"
			class="block text-sm font-medium text-gray-700"
			>Password:</label
		>
		<input
			id="password"
			name="password"
			type="password"
			class="input input-bordered w-full mt-1" />
	</div>
	<button
		type="submit"
		class="btn btn-primary w-full mt-4">
		Login
	</button>
</form>

<script>
	function login() {
		var username = document.getElementById('username').value;
		var password = document.getElementById('password').value;

		var xhr = new XMLHttpRequest();
		xhr.open('POST', "{% url 'login' %}", true);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

		var accessToken = getCookie('access_token');

		if (accessToken) {
			xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
		}

		xhr.onreadystatechange = function () {
			if (xhr.readyState === XMLHttpRequest.DONE) {
				if (xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					alert('Login Success: ');
				} else {
					var errorResponse = JSON.parse(xhr.responseText);
					alert('Login failed: ' + errorResponse.error);
				}
			}
		};

		var data = JSON.stringify({
			username: username,
			password: password,
		});
		xhr.send(data);
	}

	function getCookie(name) {
		var value = '; ' + document.cookie;
		var parts = value.split('; ' + name + '=');
		if (parts.length === 2) return parts.pop().split(';').shift();
	}
</script>

{% endblock %}
