{% extends "base.html" %} {% load custom_filters %} {% block title %}
<title>Product List</title>
{% endblock %} {% block content %}
<h1 class="text-xl font-bold text-center my-10">Product List</h1>
<div class="overflow-x-auto">
	<table class="table table-xs table-zebra">
		<thead>
			<tr>
				<th class="border border-black text-center">
					<strong>ID</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Rep Date</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Year</strong>
				</th>
				<th class="border border-black text-center">
					<strong>YearWeek</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Variety</strong>
				</th>
				<th class="border border-black text-center">
					<strong>RDCSD</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Stock To Sale</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Season</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Crop Year</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Edit</strong>
				</th>
				<th class="border border-black text-center">
					<strong>Delete</strong>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for payload in products %}
			<tr>
				<td class="border border-black">{{ payload|get_key:'_id' }}</td>

				<td class="border border-black">{{ payload.Seed_RepDate }}</td>
				<td class="border border-black">{{ payload.Seed_Year }}</td>
				<td class="border border-black">
					{{ payload.Seeds_YearWeek }}
				</td>
				<td class="border border-black">{{ payload.Seed_Varity }}</td>
				<td class="border border-black">{{ payload.Seed_RDCSD }}</td>
				<td class="border border-black">
					{{ payload.Seed_Stock2Sale }}
				</td>
				<td class="border border-black">{{ payload.Seed_Season }}</td>
				<td class="border border-black">
					{{ payload.Seed_Crop_Year }}
				</td>
				<td class="border border-black text-center">
					<a
						href="/edit-product/{{ payload|get_key:'_id' }}"
						class="btn btn-outline btn-info"
						>Edit</a
					>
				</td>
				<td class="border border-black text-center">
					<a
						href="/delete-product/{{ payload|get_key:'_id' }}"
						class="btn btn-outline btn-error"
						>Delete</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block extrascripts %}
<script>
    // Function to fetch products
    function fetchProducts() {
        makeAuthenticatedRequest('GET', '/product-list', function (xhr) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                // Handle successful response
                console.log(response);
            } else {
                var errorResponse = JSON.parse(xhr.responseText);
                alert('Failed to fetch products: ' + errorResponse.error);
            }
        });
    }

    // Call fetchProducts function when the page loads
    fetchProducts();

    // Function to retrieve CSRF token from cookies
    function getCsrfToken() {
        return getCookie('csrftoken');
    }

    // Function to retrieve JWT token from cookies
    function getJwtToken() {
        return getCookie('access_token');
    }

    // Function to make authenticated requests
    function makeAuthenticatedRequest(method, url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open(method, url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', getCsrfToken());

        var accessToken = getJwtToken();
        if (accessToken) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
        }

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                callback(xhr);
            }
        };

        xhr.send();
    }

    // Function to get cookie by name
    function getCookie(name) {
        var value = '; ' + document.cookie;
        var parts = value.split('; ' + name + '=');
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
{% endblock %}